* {
    font-size: 97%;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0.85);
    border-bottom: 1px solid rgba(26, 27, 38, 0);
    border-radius: 0px;
    color: #E6B673;
}

window#waybar.empty #window {
	  background: rgba(12, 12, 12, 0);
}

#workspaces {
    background: #0F1419;
    margin: 5px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-style: normal;
    color: #0F1419;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: #0F1419;
    background: linear-gradient(45deg, rgba(210,166,255,0.5), rgba(155,127,255,0.5), rgba(108,48,204,0.5));
    opacity: .5;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: #0F1419;
    background: linear-gradient(45deg, rgba(155,127,255,1), rgba(108,48,204,1));
    opacity: .8;
    min-width: 40px;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    border-radius: 15px;
    color: rgba(155, 127, 255, 0.8); 
    background: linear-gradient(45deg, rgba(155,127,255,.8), rgba(108,48,204,.8));
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#window,
#memory,
#clock,
#cpu,
#network,
#tray,
#pulseaudio,
#custom-power,
#custom-notification {
	  color: #E4B1F0;
	  background: transparent;
	  border-radius: 50px;
	  margin: 5px;
	  padding: 2px 15px;
}

#network {
  min-width: 180px;
}

#custom-upgrade {
	  color: #E2BBE9;
	  background: transparent;
	  border-radius: 50px;
	  margin: 5px;
	  padding: 2px 15px;
	  font-size: 20px;
}

#window:hover,
#memory:hover,
#clock:hover,
#cpu:hover,
#network:hover,
#pulseaudio:hover,
#custom-power:hover,
#custom-notification:hover,
#custom-upgrade:hover {
    border-color: rgba(155,127,255,1);
    background: rgba(255, 255, 255, 0.1);
}
