* {
	background-image: none;
	box-shadow: none;
}

window {
    font-family: Overpass heavy;
    font-size: 1.5rem;
    color: #FFCCEA;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/tmp/magick_blurred.png");
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: rgba(200, 220, 255, 0);
    animation: gradient_f 20s ease-in infinite;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    color: #FFF;
}

button:focus {
    box-shadow: none;
}

button:hover {
    background-size: 30%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: rgba(205, 193, 255, 0.8);
    color: transparent;
    transition: all 0.6s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: rgba(205, 193, 255, 0.8);
    border-radius: 100px;
    border: 2px solid rgba(205, 193, 255, 0.8);
    box-shadow: 0 0 15px 6px rgba(205, 193, 255, 0.8);
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
