* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono;
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#waybar {
    background: #13222a;
    color: #eeeeef;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    color: #eba0ac;
    background: #1e1e2e;
}

#window,
#clock,
#pulseaudio,
#network,
#workspaces,
#bluetooth,
#cpu,
#memory,
#tray,
#custom-power,
#custom-launcher,
#custom-power {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#bluetooth {
    color: #89b4fa; /* Choose a suitable color for Bluetooth */
    border-radius: 10px; /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
}

#clock {
    color: #f9e2af;
    border-radius: 10px;
    margin-left: 10px;
}

#network {
    color: #fab387;
    border-left: 0px;
    border-right: 0px;
    margin-left: 10px;
    border-radius: 10px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    margin-left: 10px;
    border-radius: 10px
}

#cpu {
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#memory {
    border-radius: 0px 10px 10px 0px;
}

#custom-power {
    margin-left: 10px;
    margin-right: 10px;
    color: #161320;
    background: #f28fad;
    border-radius: 10px;
    transition: none;
    font-size: 20px;
}

#custom-launcher {
    font-size: 24px;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #89dceb;
    background: #161320;
}

