:root {
    --border-size: 2px;
    
    --bg-primary: #1A1D26;       
    --bg-secondary: #22252E;     
    --bg-accent: #2A2D36;        
    --bg-special: #553C9A;       
    
    --border-active: #6366F1;    
    --border-special: #A855F7;   
}

* {
    color: #E2E8F0;
}

.monitor {
    background: var(--bg-secondary);
}

.monitor_active {
    border: var(--border-size) solid var(--border-active);
}

.index {
    margin: 3px;
    padding: 2px 4px;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 6px;
    background-color: var(--bg-accent);
    border: 3px solid var(--border-active);
}

.workspace {
    background: var(--bg-secondary);
}

.workspace_special {
    border: var(--border-size) solid var(--border-special);
}

.workspace_active {
    border: var(--border-size) solid var(--border-active);
}

.client-image {
    background: var(--bg-primary);
}

.client {
    background: var(--bg-secondary);
}

.client_active {
    border: var(--border-size) solid var(--border-active);
}

.launcher {
    background: var(--bg-secondary);
}

.launcher-entry {
    background: var(--bg-accent);
}

.launcher-list {
    background: var(--bg-primary);
}

.launcher-item {
    background: var(--bg-secondary);
}

.launcher-item-selected {
    background-color: var(--bg-special);
}